.login-container{
	margin-top: 10%;
	padding: 20px;
	background: #CCC;
}

 #ajaxLoader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8) url(/static/images/loader.gif) center center no-repeat;
    z-index: 1000;
    height: 100%;
}

.form-error{
	border: 1px solid red;
}

.navs-container{
    padding: 10px;
}
.main-container ul {
    display: inline-block;
}

.content-container {
    margin-top: 20px;
    padding: 20px;
    background: #D3D3E3;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 40%;
}

#profile-image {
    height: 100px;
    width: 100px;
}

table.dataTable thead th, table.dataTable thead td{
  padding: 10px !important;
}

.fa-check{
  color: #37bc9b
}

.fa-times{
  color: #da4453
}

#transactions-table {
  width: 100% !important;
}

.navbar-custom .navbar-brand {
  min-width: 250px !important;
}

#edit-student-form label, #edit-buddy-form label {
  line-height: 3;
}

.datatable {
  width: 100% !important;
}

