<html>

<head>

	{% include "site_scripts.html" %}
	<script type="text/javascript">
		window.buddies = [];
		window.interests = [];
	</script>

	<script type="text/javascript" src="/static/js/savetofile.js"></script>

</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KhowHassles-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Mentors</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Mentors
							</h2>

							<div class="row">
								{% if buddies|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="buddies-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
												<td></td>
												<td>Name</td>
												<td>Email</td>
												<td>Contact</td>

												<td>Origin</td>
												<td>Creation</td>
												<td>Active</td>
												<td>Documents Verified</td>
												<td>Action</td>
											</tr>
										</thead>
										<tbody>
											{% for buddy in buddies %}
											<tr class="danger" data-search-term="{{buddy.first_name}}{{buddy.last_name}}">
												<td>{{loop.index}}</td>
												<td>
													{{buddy.first_name}} {{buddy.last_name}}
												</td>
												<td>
													{{buddy.email}}
												</td>
												<td>
													{{buddy.contact}}
												</td>

												<td>
													{{buddy.origin}}
												</td>
												<td>
													<script>
														document.write(
															moment({{ buddy.created['$date'] }}).format("MMM DD, YYYY HH:mm A")
														);
													</script>
												</td>
												<td>
													<label class="switch buddy-active">
														{% if buddy.is_active %}
														<input type="checkbox" checked="checked" data-id="{{buddy._id['$oid']}}"> {% else %}
														<input type="checkbox" data-id="{{buddy._id['$oid']}}"> {% endif %}
														<span class="slider round"></span>
													</label>
												</td>
												<td>
													<label class="switch buddy-verified">
														{% if buddy.is_verified %}
														<input type="checkbox" checked="checked" data-id="{{buddy._id['$oid']}}" disabled="disabled"> {% else %}
														<input type="checkbox" data-id="{{buddy._id['$oid']}}"> {% endif %}
														<span class="slider round"></span>
													</label>
												</td>
												<td>
													<a href="#" data-toggle="modal" class="edit-buddy-anchor" data-target="#editBuddyModal" data-id="{{buddy._id['$oid']}}">View</a>
													<!-- <a href="#" data-toggle="modal" class="edit-buddy-anchor" data-target="#editBuddyModal" data-id="{{buddy._id['$oid']}}">Edit</a> -->
												</td>
											</tr>
											<script type="text/javascript">

												window.buddies.push({
													"id": "{{buddy._id['$oid']}}",
													"image": "{{buddy.image}}",
													"firstname": "{{buddy.first_name}}",
													"lastname": "{{buddy.last_name}}",
													"username": "{{buddy.username}}",
													"country_code": "{{buddy.country_code}}",
													"contact": "{{buddy.contact}}",
													"email": "{{buddy.email}}",
													"gender": "{{buddy.sex}}",
													"about": "{{buddy.about}}",
													"mother_tongue": "{{buddy.mother_tongue}}",
													"languages": "{{buddy.languages|join(',')}}",
													"address": "{{buddy.home_address}}",
													"education": "{{buddy.education}}",
													"employment": "{{buddy.employment}}",
													"origin": "{{buddy.origin}}",
													"city": "{{buddy.city}}",
													"country": "{{buddy.country}}",
													"service_at_city": "{{buddy.service_at_city}}",
													"service_at_province": "{{buddy.service_at_country}}",
													"service_at_country": "{{buddy.service_at_province}}",
													"servicing_month": "{{buddy.service_month}}",
													"servicing_year": "{{buddy.service_year}}",
													"package_amount": "{{buddy.package_data.amount}}",
													"package_services": "{{buddy.package_data.services}}",
												})
											</script> {% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No Buddies Registered yet.</p>
								</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- View/Edit Buddy Modal content-->
	<div id="editBuddyModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center" id="modal-head-text">Edit Buddy</h4>
				</div>
				<div class="modal-body">
					<form action="" id="edit-buddy-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div style="text-align:center;margin-bottom: 10px;">
								<img id="profile-image" src="" alt="User Image">
								<button class="btn btn-primary" id="profile-img-change">Change</button>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">First Name</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-firstname" id="" placeholder="First Name">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Last Name</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-lastname" id="" placeholder="Last Name">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Username</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-username" id="" placeholder="Username">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-email" id="" placeholder="Email">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Contact</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Address</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Date of Birth</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-dob" id="dob-picker" placeholder="Date of Birth">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Gender</label>
								<div class="col-sm-9">
									<div class="form-group">
										<select class="form-control" id="sel1" name="edit-gender">
											<option selected>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Languages</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-languages" id="" placeholder="Languages">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Mother Tongue</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-mother_tongue" id="" placeholder="Mother Tongue">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Education</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-education" id="" placeholder="Education">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Employment</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-employment" id="" placeholder="Employment">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Origin</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-origin" id="" placeholder="Origin">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">City</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-city" id="" placeholder="City">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Country</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-country" id="" placeholder="Country">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Service at City</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-service_at_city" id="" placeholder="Service at City">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Service at Province</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-service_at_province" id="" placeholder="Service at Province">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Service at Country</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-service_at_country" id="" placeholder="Service at Country">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Servicing Month</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-servicing_month" id="" placeholder="Servicing Month">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Servicing Year</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-servicing_year" id="" placeholder="Servicing Year">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Package Price</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-package_amount" id="" placeholder="Servicing Year">
								</div>
							</div>


							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Services</label>
								<div class="col-sm-9">
									<textarea disabled class="form-control" value="" name="edit-package_services" id="" placeholder="">
										</textarea>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Verification Documents</label>
								<div class="col-sm-9">
									<div class="row">
										<label class="col-sm-4 col-form-label">
											<a class="ver-id-anchor" data-id="primary" href="#">Primary ID</a>
										</label>
										<label class="col-sm-4 col-form-label">
											<a class="ver-id-anchor" data-id="secondary" href="#">Secondary ID</a>
										</label>
										<label class="col-sm-4 col-form-label">
											<a class="ver-id-anchor" data-id="police_verification" href="#">Police Verification</a>
										</label>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="edit-buddy-btn">Update</button>
					<button type="button" id="modal-close-btn" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div id="ajaxLoader" style="display:none;"></div>
	<img id="image">

</body>

<script type="text/javascript">

	$(document).ready(function () {

		window.setTimeout(function () {
			$('#buddies-table').DataTable({});
		}, 1000);

		// get verification documents
		$(".ver-id-anchor").click(function () {
			var buddy_id = $(this).attr("buddy-id");
			var document_type = $(this).attr("data-id");

			var url = '/buddy/verify/' + document_type + '/' + buddy_id;

			console.log(url);


			// using xhr

			// var blob_url = "";

			// method to downloda file from url
			window.saveData = (function () {
				var a = document.createElement("a");
				document.body.appendChild(a);
				a.style = "display: none";
				return function (url, fileName) {
					a.href = url;
					a.download = fileName;
					a.click();
					window.URL.revokeObjectURL(url);
				};
			}());

			// generate blob url
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					// var img = document.getElementById('image');
					var url = window.URL || window.webkitURL;
					var file_url = url.createObjectURL(this.response);

					window.test = this;

					if (this.getResponseHeader("Content-Type") != "application/json") {
						var file_name = this.getResponseHeader("Content-Disposition").split(" ")[1].split("=")[1];

						console.log("response header");
						window.test = this;
						// blob_url = file_url;
						// window.url = file_url;
						// console.log(url.createObjectURL(this.response));

						// download file
						saveData(file_url, file_name);
					} else {
						swal(
							'Failed! could not download.',
							'Document not found or might not be uploaded',
							'error'
						)
					}
				}
			}

			// Relative path because : 
			// No 'Access-Control-Allow-Origin' header is present...
			xhr.open('GET', url);
			xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
			xhr.responseType = 'blob';
			xhr.send();
		})

		//update data in thee modal for edit
		$(".edit-buddy-anchor").click(function () {
			var id = $(this).data('id');
			// console.log("clicked",id);
			$(".ver-id-anchor").attr("buddy-id", id);

			var dt_picker = {
				dob_picker: "dob"
			};

			// var dob_input = $("#dob-picker").pickadate();
			// var dob_picker = dob_input.pickadate('picker');

			// var arrival_dt_input = $("#")
			// $("#").set('select', 1429970887654)

			for (i = 0; i < window.buddies.length; i++) {
				if (id == window.buddies[i]['id']) {
					window.current_buddy = window.buddies[i];

					$("#profile-image").attr("src", window.location.origin + "/" + current_buddy.image);

					Object.keys(current_buddy).forEach(function (key, i) {
						$("[name='edit-" + key + "']").val(current_buddy[key]);
						$("[name='edit-" + key + "']").css("cursor", "text");
					});

					if ($(this).text() == "View") {
						// make all input fields readonly
						Object.keys(dt_picker).forEach(function (key) {
							console.log(current_buddy[dt_picker[key]]);
							$("[name='edit-" + dt_picker[key] + "']").val(
								moment(parseInt(current_buddy[dt_picker[key]])).format("MMM DD, YYYY")
							);
						});
						$("#edit-buddy-form input, #edit-buddy-form select").attr("disabled", "disabled");
						$("#edit-buddy-btn, #profile-img-change").css("display", "none");
						$("#modal-close-btn").text("Close");
						$("#modal-head-text").text("Mentor Details");
						$(".picker__holder").css("display", "none");
						// $(".picker__input").css("cursor", "not-allowed");

					} else {
						// remove readonly attribute
						$("#edit-buddy-form input, #edit-buddy-form select").removeAttr("disabled");
						// set date for datepicker inputs
						Object.keys(dt_picker).forEach(function (key) {
							var key_name = dt_picker[key];
							dt_picker[key] = $("[name='edit-" + dt_picker[key] + "']").pickadate(
								{
									format: "mmm dd, yyyy"
								});
							dt_picker[key] = dt_picker[key].pickadate('picker');
							dt_picker[key].set('select', parseInt(current_buddy[key_name]));
						});
						$(".picker__holder").css("display", "block")
						$("#edit-buddy-btn, #profile-img-change").css("display", "inline-block");
						$("#modal-close-btn").text("Cancel");
						$("#modal-head-text").text("Edit Mentor Details");
						$(".picker__input").css("cursor", "pointer");
					}

					break;
				}
			}
		});

		// activate/deactivate buddy
		$(".buddy-active [type='checkbox']").click(function () {
			var buddy_id = this.getAttribute("data-id");

			var request_data = {
				is_active: this.checked
			};

			$.ajax({
				type: 'POST',
				url: '/admin/user/' + buddy_id,
				data: JSON.stringify(request_data),
				contentType: "application/json",
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (response) {
					// console.log(response);
					// console.log('Success!');
					if (response.status) {
						console.log("S");
						// $("#fileUploadMessage").html("File Uploaded...["+data.filename+"]");	
						// window.current_file_path = data.filepath;
						// $("#post-upload").removeClass("hidden");
					} else {
						console.log("F");
						// $("#fileUploadMessage").html("Upload failed...");	
						// $("#post-upload").addClass("hidden");
					}
				},
				failure: function (data) {
					console.log('Failure!');
				}
			});
		});


		// update buddy verified status
		$(".buddy-verified [type='checkbox']").click(function () {
			var buddy_id = this.getAttribute("data-id");
			var selected_element = this;

			var request_data = {
				is_verified: this.checked
			};

			$.ajax({
				type: 'POST',
				url: '/admin/user/' + buddy_id,
				data: JSON.stringify(request_data),
				contentType: "application/json",
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (response) {
					console.log(response);
					// console.log('Success!');
					if (response.status) {
						console.log("S");
						$(selected_element).attr("disabled", "disabled");
					} else {
						console.log("F");
						swal(
							'Failed',
							'could not update mentor verified status',
							'error'
						)
						selected_element.checked = false;
					}
				},
				failure: function (data) {
					console.log('Failure!');
					selected_element.checked = false;
				}
			});
		});

	});

</script>

</html>