<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>KhowHassles-Admin</title>
  {% include "site_scripts.html" %}
  <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="favicon_16.ico" />
  <link rel="bookmark" href="favicon_16.ico" /> -->
  <!-- site css -->
  <!-- <link rel="stylesheet" href="/static/dist/css/site.min.css"> -->
  <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic"
    rel="stylesheet" type="text/css"> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <!-- <script type="text/javascript" src="/static/dist/js/site.min.js"></script> -->
</head>

<body>
  <!--nav-->
  <nav role="navigation" class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">KhowHassles-Admin</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
              <b class="caret"></b>
            </a>
            <ul role="menu" class="dropdown-menu">
              <li class="dropdown-header">Setting</li>
            </ul>
          </li>
          <li class="active">
            <a id="logout-anchor" href="#">Logout</a>
          </li>
        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!--header-->
  <div class="container-fluid">
    <!--documents-->
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
        {% include "navs_container.html" %}
      </div>
      <div class="col-xs-12 col-sm-9 content">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="javascript:void(0);" class="toggle-sidebar">
                <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
              </a> Dashboard</h3>
          </div>
          <div class="panel-body">
            <div class="content-row">
              <h2 class="content-row-title"> Dashboard Analytics
              </h2>

              <div class="row">

                <div class="col-md-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Total Students</div>
                    <div class="panel-body">{{data.stats.total_students}}</div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="panel panel-primary">
                    <div class="panel-heading">Total Buddies</div>
                    <div class="panel-body">{{data.stats.total_buddies}}</div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="panel panel-warning">
                    <div class="panel-heading">Total Feeds</div>
                    <div class="panel-body">{{data.stats.total_feeds}}</div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="panel panel-success">
                    <div class="panel-heading">Total Events</div>
                    <div class="panel-body">{{data.stats.total_events}}</div>
                  </div>
                </div>



              </div>
            </div>

          </div>
          <!-- panel body -->
        </div>
      </div>
      <!-- content -->
    </div>
  </div>

</body>

</html>