<html>

<head>

	{% include "site_scripts.html" %}
	<script type="text/javascript">
		window.experts = [];
		window.interests = [];
		window.ageGroup = [];
	</script>
</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">expertily-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">


		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Experts</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Experts
							</h2>

							<div class="row">
								<div class="text-center col-md-12">
									<div class="pull-right">
										<ul class="nav nav-pills text-uppercase">
											<li>
												<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addExpertModal">Add Expert</button>
											</li>
											<li>
												<button type="button" class="btn btn-info" data-toggle="modal" data-target="#bulkUpload">Bulk Upload Experts</button>
											</li>

										</ul>
									</div>
								</div>
								<div class="col-md-12" style="padding:20px;">
									&nbsp;
								</div>

								{% if experts|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="experts-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
												<td></td>
												<td>Name</td>
												<td>Group</td>
												<td>Contact</td>
												<td>Children</td>
												<td>Interests</td>
												<td>Address</td>
												<td>Active Status</td>
												<td>Creation</td>
												<td>Action</td>
											</tr>
										</thead>
										<tbody>
											{% for expert in experts %}
											<tr class="danger" data-search-term="{{expert.firstname}}{{expert.lastname}}{{expert.address}}">
												<td>{{loop.index}}</td>
												<td>
													{{expert.firstname}} {{expert.lastname}}
												</td>
												<td>
													{{expert.groupTitle}}
												</td>
												<td>
													{{expert.contact }}
												</td>
												<td>
													{% for group in expert.ageGroup %} {{group.name}},
													<script type="text/javascript">
														ageGroup.push("{{group.name}}");
													</script> {% endfor %}
												</td>
												<td>
													{% for interest in expert.interests %} {{interest.name}},
													<script type="text/javascript">
														interests.push("{{interest.name}}");
													</script> {% endfor %}
												</td>
												<td>
													{{expert.address }}
												</td>
												<td>
													{{expert.isActive }}
												</td>
												<td>
													{{expert.creation }}
												</td>
												<td>
													<a href="#" data-toggle="modal" class="edit-expert-anchor" data-target="#editExpertModal" data-id="{{expert._id}}">Edit</a>
													<a href="#" class="delete-expert-anchor" data-id="{{expert._id}}">Delete</a>
												</td>
											</tr>
											<script type="text/javascript">
												window.experts.push({
													"id": "{{expert._id}}",
													"firstname": "{{expert.firstname}}",
													"lastname": "{{expert.lastname}}",
													"contact": "{{expert.contact}}",
													"gender": "{{expert.gender}}",
													"address": "{{expert.address}}",
													"pincode": "{{expert.pincode}}",
													"interests": interests,
													"ageGroup": ageGroup
												})
												interests = [];
												ageGroup = [];
											</script> {% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No Experts found. Please add a New one.</p>
								</div>
								{% endif %}

							</div>
						</div>

					</div>
					<!-- panel body -->
				</div>
			</div>
			<!-- content -->

		</div>
	</div>


	<!-- Add Experts Modal content-->
	<div id="addExpertModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Add New Expert</h4>
				</div>
				<div class="modal-body">
					<form action="" id="add-expert-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">First Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="firstname" id="" placeholder="First Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Last Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="lastname" id="" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Gender</label>
								<div class="col-sm-10">
									<div class="form-group">
										<select class="form-control" id="sel1" name="gender">
											<option selected>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Pincode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="pincode" id="" placeholder="Pincode">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Interested Age Group: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="ageGroup">
											<option value="0-1" selected>Infants - 0 - 1 year</option>
											<option value="1-3">Toddler - 1 - 3 years</option>
											<option value="3-5">Pre- schooler - 3 - 5 years </option>
											<option value="6-10">Middle Childhood 6 - 10 years</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Interests</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Interests: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="interests">
											<option value="general" selected>General</option>
											<option value="science">Science</option>
											<option value="sports">Sports </option>
											<option value="health">Health</option>
											<option value="life">Life</option>
										</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="add-expert-btn">Add Expert</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit Experts Modal content-->
	<div id="editExpertModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Edit Expert</h4>
				</div>
				<div class="modal-body">
					<form action="" id="edit-expert-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">First Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="edit-firstname" id="" placeholder="First Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Last Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="edit-lastname" id="" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="edit-contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Gender</label>
								<div class="col-sm-10">
									<div class="form-group">
										<select class="form-control" id="sel1" name="edit-gender">
											<option selected>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Pincode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-pincode" id="" placeholder="Pincode">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Interested Age Group: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="edit-ageGroup">
											<option selected>Infants - 0 - 1 year</option>
											<option>Toddler - 1 - 3 years</option>
											<option>Pre- schooler - 3 - 5 years </option>
											<option>Middle Childhood 6 - 10 years</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Interests</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Interests: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="edit-interests">
											<option value="general" selected>General</option>
											<option value="science">Science</option>
											<option value="sports">Sports </option>
											<option value="health">Health</option>
											<option value="life">Life</option>
										</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="edit-expert-btn">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Add BulkUpload Modal content-->

	<div id="bulkUpload" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Bulk Upload experts</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-md-6">
							<form id="expert-bulk-form" enctype="multipart/form-data">
								<input type="file" name="expert_file" class="form-control">
							</form>
						</div>

						<div class="col-md-6">
							<div id="fileUploadMessage"></div>
							<div class="hidden" id="post-upload">
								<div if="filename"></div>
								<button class="btn btn-danger" id="add-bulk-records">Add Bulk records</button>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer" style="text-align:left;">
					<button type="button" class="btn btn-info" id="upload-expert-btn">Upload</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<div id="ajaxLoader" style="display:none;"></div>
</body>

<script type="text/javascript">

	$(document).ready(function () {

		window.setTimeout(function () {
			$('#experts-table').DataTable({});
		}, 1000);


		$('#upload-expert-btn').click(function () {

			$("#fileUploadMessage").html("Loading file....");

			var form_data = new FormData($('#expert-bulk-form')[0]);
			$.ajax({
				type: 'POST',
				url: '/expert/upload',
				data: form_data,
				contentType: false,
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (data) {
					console.log('Success!');
					if (data['status'] == true) {
						$("#fileUploadMessage").html("File Uploaded...[" + data.filename + "]");
						window.current_file_path = data.filepath;
						$("#post-upload").removeClass("hidden");
					} else {
						$("#fileUploadMessage").html("Upload failed...");
						$("#post-upload").addClass("hidden");
					}
				},
				failure: function (data) {
					console.log('Success!');
					$("#fileUploadMessage").html("Upload failed...");
				}
			});
		});


		$('#add-bulk-records').click(function () {

			var url = '/expert/add/bulk?filepath=' + window.current_file_path;

			$.ajax({
				type: 'GET',
				url: url,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (data) {
					console.log('Success!', data);
					swal({
						title: "Data Uploaded successfully",
						text: "",
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "Okay!",
						closeOnConfirm: false
					},
						function () {
							window.location.reload();
						});
				},
				failure: function (data) {
					swal("Error", data.message, "error");
				}
			});
		});

		//update data in thee modal for edit
		$(".edit-expert-anchor").click(function () {
			var id = $(this).data('id');
			console.log("clicked", id);
			for (i = 0; i < window.experts.length; i++) {
				if (id == window.experts[i]['id']) {
					window.current_expert = window.experts[i];
					$("[name='edit-firstname']").val(current_expert.firstname);
					$("[name='edit-lastname']").val(current_expert.lastname);
					$("[name='edit-contact']").val(current_expert.contact);
					$("[name='edit-gender']").val(current_expert.gender);
					$("[name='edit-address']").val(current_expert.address);
					$("[name='edit-pincode']").val(current_expert.pincode);
					$("[name='edit-interests']").val(current_expert.interests);
					$("[name='edit-ageGroup']").val(current_expert.ageGroup);
					break;
				}
			}
		});


	});

</script>

</html>