<html>

<head>

	{% include "site_scripts.html" %}

	<script type="text/javascript">
		window.feeds = [];
	</script>

</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get feeded for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KnowHassles-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">


		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Feeds</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Feeds</h2>
							<div class="row">
								<!-- <div style="padding:20px;">
									&nbsp;
								</div> -->

								{% if feeds|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="feeds-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuvwxyz">
												<td></td>
												<td>Full Name</td>
												<td>Title</td>
												<td>Story</td>
												<!-- <td>Visible</td> -->
												<td>Creation</td>
												<!-- <td>List</td> -->
												<td>Visible</td>

											</tr>
										</thead>
										<tbody>
											{% for feed in feeds %}
											<tr class="danger" data-search-term="{{feed.full_name}}{{feed.title}}{{feed.story}}">
												<td>
													{{loop.index}}
												</td>
												<td>
													{{feed.full_name}}
												</td>
												<td>
													{{feed.title}}
												</td>
												<td>
													{{feed.story}}
												</td>
												<!-- <td>
										{{feed.visible}}
									</td> -->
												<td>
													{{feed.created.date}}
												</td>
												<!-- <td>
										<a href="/feed/{{feed._id}}/feed" >
											<button type="button" class="btn btn-primary">List Parents</button>
										</a>
									</td> -->
												<td>
													<label class="switch feed-active">
														{% if feed.visible %}
														<input type="checkbox" checked="checked" data-id="{{feed._id['$oid']}}"> {% else %}
														<input type="checkbox" data-id="{{feed._id['$oid']}}"> {% endif %}
														<span class="slider round"></span>
													</label>
												</td>
												<!-- <td> 
										<a href="#" data-toggle="modal" class="edit-feed-anchor" data-target="#editGroupModal" data-id="{{feed._id}}">Edit</a>  
										<a href="#" class="delete-feed-anchor"  data-id="{{feed._id}}">Delete</a>  
									</td> -->
											</tr>
											<script type="text/javascript">
												window.feeds.push({
													"id": "{{feed._id}}",
													"type": "{{feed.type}}",
													"title": "{{feed.title}}",
													"contact": "{{feed.contact}}",
													"address": "{{feed.address}}"
												});
											</script> {% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No feeds posted yet.</p>
								</div>
								{% endif %}

							</div>
						</div>

					</div>
					<!-- panel body -->
				</div>
			</div>
			<!-- content -->

		</div>
	</div>


	<!-- Automated Modal content-->
	<div id="addGroupModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Add New Group</h4>
				</div>
				<div class="modal-body">
					<form action="" id="add-feed-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Group Title</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="title" id="" placeholder="Group Title">
								</div>
							</div>
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Group Type</label>
								<div class="col-sm-10">
									<input type="text" value="Corporate" class="form-control" readonly name="type" id="" placeholder="Group Type">
								</div>
							</div>
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="address" id="" placeholder="Address">
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="add-feed-btn">Create Group</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<div id="editGroupModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Edit Group</h4>
				</div>
				<div class="modal-body">
					<form action="" id="add-feed-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Group Title</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" readonly name="edit-title" id="" placeholder="Group Title">
								</div>
							</div>
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Group Type</label>
								<div class="col-sm-10">
									<input type="text" value="Corporate" class="form-control" readonly name="edit-type" id="" placeholder="Group Type">
								</div>
							</div>
							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="edit-contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-feed row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-address" id="" placeholder="Address">
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="add-feed-btn">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div id="ajaxLoader" style="display:none;"></div>
</body>

<script type="text/javascript">

	$(document).ready(function () {

		window.setTimeout(function () {
			$('#feeds-table').DataTable({});
		}, 1000);


		//update data in thee modal for edit
		$(".edit-feed-anchor").click(function () {
			var id = $(this).data('id');
			console.log("clicked", id);
			for (i = 0; i < window.feeds.length; i++) {
				if (id == window.feeds[i]['id']) {
					window.current_feed = window.feeds[i];
					$("[name='edit-title']").val(current_feed.title);
					$("[name='edit-type']").val(current_feed.type);
					$("[name='edit-contact']").val(current_feed.contact);
					$("[name='edit-address']").val(current_feed.address);
					break;
				}
			}
		});

		// make feed visible/invisible
		$(".feed-active [type='checkbox']").click(function () {
			var request_data = {
				feed_id: this.getAttribute("data-id"),
				visible: this.checked
			};

			$.ajax({
				type: 'POST',
				url: '/admin/feed',
				data: JSON.stringify(request_data),
				contentType: "application/json",
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (response) {
					console.log(response);
					console.log('Success!');
					if (response.status) {
						console.log("S");
						// $("#fileUploadMessage").html("File Uploaded...["+data.filename+"]");	
						// window.current_file_path = data.filepath;
						// $("#post-upload").removeClass("hidden");
					} else {
						console.log("F");
						// $("#fileUploadMessage").html("Upload failed...");	
						// $("#post-upload").addClass("hidden");
					}
				},
				failure: function (data) {
					console.log('Failure!');
				}
			});
		});


	});

</script>

</html>