<html>

<head>

	{% include "site_scripts.html" %}
	<script type="text/javascript">
		window.groups = [];
		window.tags = [];
		window.ageGroup = [];
	</script>
</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KhowHassles-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">


		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Questions</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Questions
							</h2>

							<div class="row">
								<div class="text-center col-md-12">
									<div class="pull-right">
										<ul class="nav nav-pills text-uppercase">
											<li>
												<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addQuestionModal">Add Question</button>
											</li>

										</ul>
									</div>
								</div>
								<div class="col-md-12" style="padding:20px;">
									&nbsp;
								</div>

								{% if questions|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="questions-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
												<td></td>
												<td>Group</td>
												<td>User</td>
												<td>Title</td>
												<td>Is Global</td>
												<td>Tags</td>
												<td>Age Group</td>
												<td>Active Status</td>
												<td>Creation</td>
												<td>Action</td>
											</tr>
										</thead>
										<tbody>
											{% for question in questions %}
											<tr class="danger" data-search-term="{{question.firstname}}{{question.lastname}}{{question.address}}">
												<td>{{loop.index}}</td>
												<td>
													{{question.groupTitle}}
												</td>
												<td>
													{{question.user}}
												</td>
												<td>
													{{question.title}}
												</td>
												<td>
													{{question.isGlobal}}
												</td>
												<td>
													{% for tag in question.tags %} {{tag.name}},
													<script type="text/javascript">
														tags.push("{{tag.name}}");
													</script> {% endfor %}
												</td>

												<td>
													{% for group in question.ageGroup %} {{group.name}},
													<script type="text/javascript">
														ageGroup.push("{{group.name}}");
													</script> {% endfor %}
												</td>

												<td>
													{{question.isActive }}
												</td>
												<td>
													{{question.creation }}
												</td>
												<td>
													<a href="/group/edit/{{question._id}}">Edit</a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No Questions found. Please add a New one.</p>
								</div>
								{% endif %}

							</div>
						</div>

					</div>
					<!-- panel body -->
				</div>
			</div>
			<!-- content -->

		</div>
	</div>


	<!-- Automated Modal content-->
	<div id="addQuestionModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Add New Question</h4>
				</div>
				<div class="modal-body">
					<form action="" id="add-question-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Select Group</label>
								<div class="col-sm-10">
									<select name="groupId" class="form-control">
										{% for group in groups %}
										<option data-group-id="{{group._id}}" value="{{group._id}}" data-group-title="{{group.title}}">{{group.title}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Title</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="title" id="" placeholder="Title">
								</div>
							</div>
							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Question</label>
								<div class="col-sm-10">
									<textarea class="form-control" name="question" id="" placeholder="Question"></textarea>
								</div>
							</div>


							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Question Tags</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Tags: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="tags">
											<option value="general" selected>General</option>
											<option value="science">Science</option>
											<option value="sports">Sports </option>
											<option value="health">Health</option>
											<option value="life">Life</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Interested Age Group: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="ageGroup">
											<option value="0-1" selected>Infants - 0 - 1 year</option>
											<option value="1-3">Toddler - 1 - 3 years</option>
											<option value="3-5">Pre- schooler - 3 - 5 years </option>
											<option value="6-10">Middle Childhood 6 - 10 years</option>
										</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="add-question-btn">Add Question</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>



	<div id="ajaxLoader" style="display:none;"></div>
</body>

<script type="text/javascript">

	$(document).ready(function () {
		window.setTimeout(function () {
			$('#questions-table').DataTable({});
		}, 1000);

	});

</script>

</html>