<html>

<head>

	{% include "site_scripts.html" %}
	<script type="text/javascript">
		window.services = [];
		window.categories = [];
		window.subcategories = [];
	</script>

</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KhowHassles-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">


		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Services</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Services
							</h2>

							<div class="row">
								<div class="text-center col-md-12">
									<div class="pull-right">
										<ul class="nav nav-pills text-uppercase">
											<li>
												<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addServiceModal">Add Service</button>
											</li>

										</ul>
									</div>
								</div>
								<div class="col-md-12" style="padding:20px;">
									&nbsp;
								</div>

								{% if services|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="services-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
												<td></td>
												<td>Name</td>
												<td>Category</td>
												<td>Sub-Category</td>
												<td>Contact</td>
												<td>Address</td>
												<td>URL</td>
												<td>Area</td>
												<td>Pincode</td>
												<td>action</td>
											</tr>
										</thead>
										<tbody>
											{% for service in services %}
											<tr class="danger" data-search-term="{{service.name}}">
												<td>{{loop.index}}</td>
												<td>
													{{service.name}}
												</td>
												<td>
													{% for category in service.category %} {{category.name}},
													<script type="text/javascript">
														categories.push("{{category.name}}");
													</script> {% endfor %}
												</td>
												<td>
													{% for subcategory in service.subcategory %} {{subcategory.name}},
													<script type="text/javascript">
														subcategories.push("{{subcategory.name}}");
													</script> {% endfor %}
												</td>
												<td>
													{{service.contact }}
												</td>
												<td>
													{{service.address }}
												</td>
												<td>
													{{service.url }}
												</td>
												<td>
													{{service.area }}
												</td>
												<td>
													{{service.pincode }}
												</td>
												<td>
													<a href="#" data-toggle="modal" class="edit-service-anchor" data-target="#editServiceModal" data-id="{{service._id}}">Edit</a>
												</td>
											</tr>
											<script type="text/javascript">
												window.services.push({
													"id": "{{service._id}}",
													"name": "{{service.name}}",
													"contact": "{{service.contact}}",
													"address": "{{service.address }}",
													"url": "{{service.url }}",
													"area": "{{service.area }}",
													"pincode": "{{service.pincode }}",
													"categories": categories,
													"subcategories": subcategories,
												})
												categories = [];
												subcategories = [];
											</script> {% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No Services found. Please add a New one.</p>
								</div>
								{% endif %}

							</div>
						</div>

					</div>
					<!-- panel body -->
				</div>
			</div>
			<!-- content -->

		</div>
	</div>


	<!-- Automated Modal content-->
	<div id="addServiceModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Add New Service</h4>
				</div>
				<div class="modal-body">
					<form action="" id="add-service-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="name" id="" placeholder="Name of the Service">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="contact" id="" placeholder="Contact No.">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Pincode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="pincode" id="" placeholder="Pincode">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">URL</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="url" id="" placeholder="URL of the service homepage.">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Area</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="area" id="" placeholder="Area in which service is being held.">
								</div>
							</div>


							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Category: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="category">
											{% for category in categories %}
											<option value="{{category.name}}">{{category.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Sub-Category</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Sub-Category: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="subcategory">
											{% for category in categories %} {% for subcategory in category.subcategory %}
											<option style="border-bottom:1px solid red" value="{{subcategory.name}}">{{subcategory.name}}</option>
											{% endfor %} {% endfor %}
										</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="add-service-btn">Add Service</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Edit Service Modal-->
	<div id="editServiceModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Edit Service</h4>
				</div>
				<div class="modal-body">
					<form action="" id="edit-service-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" value="" class="form-control" name="edit-name" id="" placeholder="Name of the Service">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-contact" id="" placeholder="Contact No.">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Pincode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-pincode" id="" placeholder="Pincode">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">URL</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-url" id="" placeholder="URL of the service homepage.">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Area</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="" name="edit-area" id="" placeholder="Area in which service is being held.">
								</div>
							</div>


							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Category: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="edit-category">
											{% for category in categories %}
											<option value="{{category.name}}">{{category.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-2 col-form-label">Sub-Category</label>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="sel1">Select Sub-Category: (Press Ctrl to select multiple)</label>
										<select multiple class="form-control" id="sel1" name="edit-subcategory">
											{% for category in categories %} {% for subcategory in category.subcategory %}
											<option style="border-bottom:1px solid red" value="{{subcategory.name}}">{{subcategory.name}}</option>
											{% endfor %} {% endfor %}
										</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="edit-service-btn">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<div id="ajaxLoader" style="display:none;"></div>
</body>

<script type="text/javascript">

	$(document).ready(function () {
		window.setTimeout(function () {
			$('#services-table').DataTable({});
		}, 1000);

		$(".edit-service-anchor").click(function () {
			var id = $(this).data('id');
			console.log("clicked", id);
			for (i = 0; i < window.services.length; i++) {
				if (id == window.services[i]['id']) {
					window.current_service = window.services[i];
					$("[name='edit-name']").val(current_service.name);
					$("[name='edit-contact']").val(current_service.contact);
					$("[name='edit-address']").val(current_service.address);
					$("[name='edit-pincode']").val(current_service.pincode);
					$("[name='edit-url']").val(current_service.url);
					$("[name='edit-area']").val(current_service.area);
					$("[name='edit-category']").val(current_service.categories);
					$("[name='edit-subcategory']").val(current_service.subcategories);
					break;
				}
			}
		});

	});

</script>

</html>