<html>

<head>

    {% include "site_scripts.html" %}
    <script type="text/javascript">
        window.transactions = [];
        window.interests = [];
    </script>
</head>

<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">KhowHassles-Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
                            <b class="caret"></b>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="dropdown-header">Setting</li>
                        </ul>
                    </li>
                    <li class="active">
                        <a id="logout-anchor" href="#">Logout</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">


        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
                {% include "navs_container.html" %}
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="javascript:void(0);" class="toggle-sidebar">
                                <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
                            </a> transactions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-row">
                            <h2 class="content-row-title"> transactions
                            </h2>

                            <div class="row">
                                <!-- <div class="text-center col-md-12">
                      		<div class="pull-right">
                      			<ul class="nav nav-pills text-uppercase">
                  				<li> 
									<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addtransactionModal">Add transaction</button>
							 	</li>
							 	<li> 
									<button type="button" class="btn btn-info" data-toggle="modal" data-target="#bulkUpload">Bulk Upload transactions</button>
							 	</li>
								
							</ul>
                      		</div>
						</div> -->
                                <!-- <div class="col-md-12" style="padding:20px;">
							&nbsp;
						</div> -->

                                {% if transactions|length > 0 %}
                                <div class="col-md-12">
                                    <table class="table" id="transactions-table">
                                        <thead>
                                            <tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
                                                <td></td>
                                                <td>Student Name</td>
                                                <td>Mentor Name</td>
                                                <td>Currently Hired</td>
                                                <td>Services Completion</td>
                                                <td>Transaction time</td>
                                                <td>Payment to Edapt</td>
                                                <td>Amount to Edapt</td>
                                                <td>Amount to Mentor</td>
                                                <td>Paid to Mentor</td>
                                                <td>Bank Details</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transactions %}
                                            <tr class="danger" data-search-term="{{transaction.student_name}}{{transaction.buddy_name}}">
                                                <td>{{loop.index}}</td>
                                                <td>
                                                    {{transaction.student_name}}
                                                </td>
                                                <td>
                                                    {{transaction.buddy_name}}
                                                </td>
                                                {% if transaction.currently_hired %}
                                                <td>
                                                    <span class="fa fa-check"></span>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <span class="fa fa-times"></span>
                                                </td>
                                                {% endif %}
                                                <td>
                                                    {{transaction.services_completion}} %
                                                </td>
                                                <td>
                                                    <script>
                                                        document.write(
                                                            moment({{ transaction.payment_to_edapt_time['$date'] }}).format("MMM DD, YYYY HH:mm A")
                                                        );
                                                    </script>
                                                </td>
                                                <td>
                                                    {{transaction.status_to_kh}}
                                                </td>
                                                <td>
                                                    {{transaction.amount_to_kh}}
                                                </td>
                                                <td>
                                                    {{transaction.amount_to_buddy}}
                                                </td>
                                                <td>
                                                    <label class="switch paid-status">
                                                        {% if transaction.amount_paid_to_buddy %}
                                                        <input type="checkbox" checked="checked" data-id="{{transaction._id['$oid']}}" disabled="disabled"> {% else %}
                                                        <input type="checkbox" data-id="{{transaction._id['$oid']}}"> {% endif %}
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>

                                                <td>
                                                    <a href="#" data-toggle="modal" class="view-transaction-anchor" data-target="#edittransactionModal" data-id="{{transaction._id['$oid']}}">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <script type="text/javascript">
                                                window.transactions.push({
                                                    "id": "{{transaction._id['$oid']}}",
                                                    "student_id": "{{transaction.student_id}}",
                                                    "buddy_id": "{{transaction.buddy_id}}",
                                                    "student_name": "{{transaction.student_name}}",
                                                    "buddy_name": "{{transaction.buddy_name}}",
                                                    "currently_hired": "{{transaction.currently_hired}}",
                                                    "services_completion": "{{transaction.services_completion}}",
                                                    "status_to_kh": "{{transaction.status_to_kh}}",
                                                    "amount_paid_to_buddy": "{{transaction.amount_paid_to_buddy}}",
                                                    "amount_to_buddy": "{{transaction.amount_to_buddy}}",
                                                    "amount_to_kh": "{{transaction.amount_to_kh}}",
                                                    "amount_to_kh_inr": "{{transaction.amount_to_kh_inr}}",
                                                    "payment_id": "{{transaction.payment_id}}",
                                                    "payment_request_id": "{{transaction.payment_request_id}}",
                                                });
                                            </script> {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                {% else %}
                                <div class="col-md-12 alert alert-warning">
                                    <p>No transactions made.</p>
                                </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    <!-- panel body -->
                </div>
            </div>
            <!-- content -->

        </div>
    </div>


    <!-- View transaction Modal content-->
    <div id="edittransactionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center" id="modal-head-text">Mentor Bank details</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="edit-transaction-form">
                        <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <table class="table table-striped">
                                <tbody id="bank-details-tbody">
                                    <!--.-->
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function () {
            $('#transactions-table').DataTable({});
        }, 1000);

        $('#upload-transaction-btn').click(function () {

            $("#fileUploadMessage").html("Loading file....");

            var form_data = new FormData($('#transaction-bulk-form')[0]);
            $.ajax({
                type: 'POST',
                url: '/transaction/upload',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                },
                success: function (data) {
                    console.log('Success!');
                    if (data['status'] == true) {
                        $("#fileUploadMessage").html("File Uploaded...[" + data.filename + "]");
                        window.current_file_path = data.filepath;
                        $("#post-upload").removeClass("hidden");
                    } else {
                        $("#fileUploadMessage").html("Upload failed...");
                        $("#post-upload").addClass("hidden");
                    }
                },
                failure: function (data) {
                    console.log('Success!');
                    $("#fileUploadMessage").html("Upload failed...");
                }
            });
        });


        //update data in thee modal for edit
        $(".view-transaction-anchor").click(function () {
            var id = $(this).data('id');
            // console.log("clicked",id);

            // var dt_picker = {
            //     dob_picker: "dob",
            //     arrival_dt_picker: "arrival_dt",
            //     departure_dt_picker: "departure_dt"
            // };

            // var dob_input = $("#dob-picker").pickadate();
            // var dob_picker = dob_input.pickadate('picker');

            // var arrival_dt_input = $("#")
            // $("#").set('select', 1429970887654)

            for (i = 0; i < window.transactions.length; i++) {
                if (id == window.transactions[i]['id']) {
                    window.current_transaction = window.transactions[i];

                    var buddy_id = current_transaction.buddy_id;

                    // get buddy bank details

                    $.ajax({
                        type: 'GET',
                        url: '/buddy/bank/' + buddy_id,
                        contentType: "application/json",
                        cache: false,
                        processData: false,
                        async: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                        },
                        success: function (response) {
                            // console.log(response);
                            // console.log('Success!');
                            if (response.status) {

                                var bank_details = response.data.bank_details;

                                console.log(bank_details);

                                $("#bank-details-tbody").html(
                                    "<tr>" +
                                    "<td>Bank Name</td>" +
                                    "<td>" + bank_details.bank_name + "</td>" +
                                    "</tr><tr>" +
                                    "<td>Institution Number</td>" +
                                    "<td>" + bank_details.institution_number + "</td>" +
                                    "</tr><tr>" +
                                    "<td>Account Holder Name</td>" +
                                    "<td>" + bank_details.account_holder_name + "</td>" +
                                    "</tr><tr>" +
                                    "<td>Account Number</td>" +
                                    "<td>" + bank_details.account_number + "</td>" +
                                    "</tr>"
                                )

                            } else {
                                console.log(response);
                            }
                        },
                        failure: function (data) {
                            console.log('Failure!');
                        }
                    });

                    break;
                }
            }
        });

        // update paid to mentor status
        $(".paid-status [type='checkbox']").click(function () {

            var selected_element = this;

            if (selected_element.checked) {
                swal({
                    title: 'Add a remark',
                    input: 'text',
                    inputPlaceholder: 'Add a remark here',
                    showCancelButton: true,
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.dismiss === swal.DismissReason.cancel) {
                        selected_element.checked = false;
                    } else {
                        var request_data = {
                            transaction_id: selected_element.getAttribute("data-id"),
                            remarks: String(result.value),
                            amount_paid_to_buddy: selected_element.checked
                        }

                        // console.log(result);

                        $.ajax({
                            type: 'POST',
                            url: '/payment',
                            data: JSON.stringify(request_data),
                            contentType: "application/json",
                            cache: false,
                            processData: false,
                            async: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                            },
                            success: function (response) {
                                // console.log(response);
                                // console.log('Success!');
                                if (response.status) {

                                    swal(
                                        'payment status updated',
                                        "",
                                        'success'
                                    )
                                    $(selected_element).attr("disabled", "disabled");
                                } else {
                                    swal(
                                        'Failed',
                                        'could not update payment status',
                                        'error'
                                    )
                                    selected_element.checked = false;
                                }
                            },
                            failure: function (data) {
                                console.log('Failure!');
                            }
                        });
                    }
                })
            }
        });
    });

</script>

</html>